
table{
    border-collapse: collapse;
    width:90%;
}
table,tr,td,th{
    border:solid grey 1px;
}
th{
    background-color:cornsilk;
}


td img{
    width:50px;
}

a img{
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:30px;
}


table~a{
    text-align:center;
	color:green;
	font-family: trebuchet;
}




/*styling forms*/
form {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 5px;

}

label {
    text-align: right;
    margin-right: 10px;
}

input[type=submit] {
    font-size: 20pt;
    margin-top: 20px;
    grid-column: 2;
}